service firebase.storage {
  match /b/{bucket}/o {
    match /images {
    	match /{allPaths=**} {
      	allow read, write: if request.auth!=null && request.auth.uid == request.path[4];
      }
    }
  }
}
