.profile-container {
  margin: 100px 0;
}

.profile-container > * {
  margin-bottom: 50px
}

.profile-container > :last-child {
  margin-bottom: 0px
}

.stint-dialogue {
  box-shadow: 0px 4px 32px rgba(71, 68, 72, 0.15);
  /* background: linear-gradient(290.7deg, #8F8DFF 46.67%, #05D9B2 100%); */
  background: linear-gradient(270deg, #8F8DFF 0%, #05D9B2 100%);
  background-size: 200% 100%;
  animation: gradient 2s linear infinite;
  animation-direction: alternate;

  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 50px;
  filter: opacity(1);
  transition: opacity 0.2s ease-in
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.loading {
  box-shadow: 0px 4px 32px rgba(71, 68, 72, 0.15);
  background: linear-gradient(270deg, #8F8DFF 0%, #05D9B2 100%);
  background-size: 200% 100%;
  animation: gradient 2s linear infinite;
  animation-direction: alternate;

  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 50px;

  filter: opacity(0.25);
  transition: opacity 0.2s ease-in
}

.loading > * {
  margin: 0;
  margin-bottom: 20px;
  filter: opacity(0);
  transition: opacity 0.2s ease-in
}

.loading > :last-child {
  margin-bottom: 0;
}

.stint-dialogue > * {
  color: white;
  margin: 0;
  margin-bottom: 20px;
  filter: opacity(1);
  transition: opacity 0.2s ease-in
}

.stint-dialogue > :last-child {
  margin-bottom: 0;
}

.hline {
  border: 2px solid #F5F5F5;
  width: 100%;
}

.student-dialogue {
  box-shadow: 0px 4px 32px rgba(71, 68, 72, 0.15);
  padding: 50px;
}

.student-dialogue > * {
  margin-bottom: 40px
}

.student-dialogue > :last-child {
  margin-bottom: 0;
}

.student-dialogue-block {
  display: flex;
  flex-direction: column;
}

.student-dialogue-block > * {
  margin: 0;
  margin-bottom: 20px
}

.student-dialogue-block > :last-child {
  margin-bottom: 0
}

.custom-select {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 4px solid #8F8DFF;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;

  color: #8F8DFF;

  margin: 0 4px;
  display: inline-block;
}

.custom-select:hover {
  cursor: pointer;
}

/* Second student form */

.skills-header:hover {
  cursor: pointer;
}

.skills-header:hover .skills-header-row > h3 {
  color: #8F8DFF;
}

.skills-header-row {
  display: flex;
  align-items: center;
}

.skills-header-row > * {
  margin: 0;
  margin-right: 10px;
}

.student-skill-status {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;

  /* color: #FFFFFF; */
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 5px 40px;
  margin-right: 10px;
  background-color: #F5F5F5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s linear;
  box-shadow: 0px 4px 32px rgba(71, 68, 72, 0.15);
}

.skill-name {
  display: inline-flex;
  z-index: 5;
}

.skill-level {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.skill:hover > .skill-name {
  display: none;
}

.skill-level, .plus, .minus {
  visibility: hidden;
}

.skill:hover > .skill-level, .skill:hover > .plus, .skill:hover > .minus {
  visibility: visible;
  z-index: 5;
}

.plus {
  position: absolute;
  right: 0px;
  padding: 5px 10px;
  z-index: 6;
  background-color: none;
}

.minus {
  position: absolute;
  left: 0px;
  padding: 5px 10px;
  z-index: 6;
  background-color: none;
}

.plus:hover, .minus:hover {
  background-color: rgb(0,0,0,0.1);
  transition: all 0.1s linear;
}

.skill-bar {
  background-color: #05D9B2;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
  width: 0%;
  transition: width 0.1s ease-in;
}

#hidden-skill-level {
  visibility: hidden;
  position: absolute;
}

/* Media Queries */

/* Smaller Laptops ----------- */
@media only screen and (max-width : 1200px) {



}

/* Mini Screens */
@media only screen and (max-height : 1024px) {

}

/* Large Phones */
@media only screen and (max-height : 850px) and (max-width: 800px) {


}

/* iPhone 6 */
@media only screen and (max-height : 670px) {



}

/* Small Phones */
@media only screen and (max-height : 570px) {



}

/* Smaller Phones */
@media only screen and (max-width : 320px) {



}
